.product-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-list-filter {
  position: relative;
  display: flex; 
  justify-content: center;;
  width: 100%;
  background-color: white;
  height: 50px;
  border-radius:5px;
}

.product-list-filter > p  {
  position: absolute;
  font-size: 30px;
  left: 20px;
  font-weight: bold;
  font-variant: small-caps;
}

.product-card {
  padding: 20px;
  height: 150px;
  padding-left: 20px;
  gap: 20px;
  background: linear-gradient(
    90deg,
    #242424 0%,
    white 0.5%,
    white 99.5%,
    #242424 100%
  );
}

.product-card-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.product-info-container {
  margin-left: 20px;
  width: 300px;
}

.product-info-container > ul {
  margin: 0;
}

.product-name {
  font-weight: bold;
  font-variant: small-caps;
}

.star-rating-wrapper {
  margin-top: auto;
  padding-right: 50px;
}

.price-cart-container {
  margin-top: auto;
}

.price-cart-container > button {  
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
}

.price-cart-container > button > svg {
    pointer-events: none; /* to prevent the svg from being clicked */
}

.price-cart-container > button:hover {
  cursor: pointer;
  background-color: rgb(186, 188, 192);
}
@media only screen and (max-width: 600px) {
  .product-info-container > ul > li {
    font-size: 12px;
  }
  .star-rating-wrapper {
    display: none;
  }
  .product-info-container {
    width: 150px;
  }
  .price-cart-container {
    margin-left: auto;
  }
}
