.scrollable-product-list {
  display: flex;

  gap: 2px;
}
.product-card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  justify-content: flex-start;
  min-width: 200px;
  min-height: 200px;
  text-align: center;
}
.product-card-button {
  margin: 0px;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.02);
  background-color: rgb(232, 235, 220);
}
