.product-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-card {
  padding: 20px;
  height: 150px;
  padding-left: 20px;
  background: linear-gradient(
    90deg,
    #242424 0%,
    white 0.5%,
    white 99.5%,
    #242424 100%
  );
}

.product-card-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: auto;
}

.product-info-container {
  margin-left: 20px;
  width: 300px;
  height: 100%;
}

.product-info-container > ul {
  margin: 0;
}

.product-name {
  font-weight: bold;
  font-variant: small-caps;
}

.star-rating-wrapper {
  margin-top: auto;
  padding-right: 50px;
}

.price-cart-container {
  margin-top: auto;
}

.price-cart-container > button {
  width: 75px;
  height: 50px;
  border: none;
  border-radius: 10px;
}

.price-cart-container > button > svg {
  pointer-events: none; /* to prevent the svg from being clicked */
}

@media only screen and (max-width: 600px) {
  .product-info-container > ul > li {
    font-size: 12px;
  }
  .star-rating-wrapper {
    display: none;
  }
  .product-info-container {
    width: 150px;
  }
  .price-cart-container {
    margin-left: auto;
  }
}
