.home-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px;
  gap: 10px;
}

.home-page-cards {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .home-page-cards {
    flex-direction: column
  }
  .water-meter {
    display: none;
  }
}
