.authPage {
  display: flex;
  flex: 1;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.authPage h1 {
  font-style: italic;
  font-weight: bold;
}

.authPage a {
  cursor: pointer;
}

.authPage a:hover {
  transform: scale(1.1);
}


@media only screen and (max-width: 600px) {
  .authPage {
    justify-content: flex-start;
    margin-top: 40px;
  }
}