.shop-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  padding-bottom: 50px;
}

.shop-container button:hover {
  cursor: pointer;
  background-color: rgb(186, 188, 192);
}

@media screen and (max-width: 1000px) {
  .shop-container {
    width: 100%;
  }
}
