.navBar {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: flex-start;
  
}

.navBar-button-margin {
  margin-right: 20px;
  margin-left: 20px;
}

.navBar button {
  background-color: transparent;
  color: white;
  margin-right: 50px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
}

.navBar button:hover {
  cursor: pointer;
}

.site-title {
  margin-right: auto;
  padding-left: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;

}
