.water-info {
  display: flex;
  flex-direction: column;
  background-image: url("../../../../assets/h2o70.png");
  padding-left: 20px;
  padding-right: 20px;
}

.water-info li {
  padding: 2px;
}

.water-info h1 {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .water-info li {
    font-size: 14px;
  }
  .water-info-symptoms > p {
    padding-top: 10px;
  }
  .water-info > h1 {
    display: none;
  }
}
