input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.num-input {
  height: 30px;
  font-size: 20px;
  width: 100%;
}

.body-weight-error {
  border-color: red;
}
