:root {
  --size: 20px;
  --borderWidth: 20px;
  --color: black;
  --barColor: rgb(68, 166, 223);
  --animationTime: 0.8s;
}

.loading-circle:after {
  content: "";
  display: block;
  width: var(--size);
  height: var(--size);
  border: var(--borderWidth) solid var(--color);
  border-radius: 50%;
  border-top-color: var(--barColor);
  animation: spin var(--animationTime) ease-in infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
