.cart-container {
  background-color: white;
  width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  padding: 25px;
}

.cart-container svg {
  pointer-events: none;
  width: 20px;
  height: 20px;
}

.cart-icon-container {
  display: flex;
  justify-content: space-between;
}

.cart-clear-icon-wrapper > svg {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 5px;
}

.cart-clear-icon-wrapper:hover > svg {
  transform: scale(1.05);
  cursor: pointer;
  color: #2642af;
}
.empty-cart {
  display: flex;
  margin: auto;
  width: 60%;
  height: 50px;
  align-items: center;
  background-color: rgb(238, 204, 93);
  border-radius: 5px;
  border: solid 1px rgb(255, 187, 0);
}

.empty-cart > * {
  display: inline-block;
}

.empty-cart > p {
  font-variant: small-caps;
  margin-left: 25px;
}

.empty-cart-icon-wrapper {
  height: 100%;
  width: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 2px solid rgb(255, 187, 0);
}

.empty-cart-icon-wrapper > svg {
  height: 100%;
  width: 100%;
}

.cart-products {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 75px;
  margin-top: 25px;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin-left: auto;
}

.cart-summary > button {
  border-radius: 5px;
  border: none;
  background-color: #2642af;
  color: white;
  font-size: 15px;
  padding: 10px;
  font-variant: small-caps;
  cursor: pointer;
}

.cart-total-price {
  font-weight: bold;
}

@media screen and (max-width: 1050px) {
  .cart-container {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .cart-item-details {
    min-width: 80px;
    max-width: 80px;
  }
  .empty-cart {
    width: 95%;
  }

  .cart-products {
    margin-left: 0;
  }
}
