.cart-container {
  background-color: white;
  width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
  border-radius: 10px;
  padding: 25px;
}

.cart-container svg {
  pointer-events: none;
  width: 20px;
  height: 20px;
}

.cart-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  color: white;
  background-color: #2642af;
  width: 50px;
  height: 50px;
  top: 15px;
  left: 15px;
}

.empty-cart {
  display: flex;
  margin: auto;
  width: 60%;
  height: 50px;
  align-items: center;
  background-color: rgb(238, 204, 93);
  border-radius: 5px;
  border: solid 1px rgb(255, 187, 0);
}

.empty-cart > * {
  display: inline-block;
}

.empty-cart > p {
  font-variant: small-caps;
  margin-left: 25px;
}

.empty-cart-icon-wrapper {
  height: 100%;
  width: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 2px solid rgb(255, 187, 0);
}

.empty-cart-icon-wrapper > svg {
  height: 100%;
  width: 100%;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 75px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 80px;
  border-bottom: 1px solid #e0e0e0;
}

.cart-item > * {
  margin: auto 0 10px 0;
}

.cart-item-image > img {
  width: 40px;
  height: 60px;
}

.cart-item-details {
  min-width: 120px;
  max-width: 120px;
}

.cart-item-action {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.cart-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}

.cart-item-quantity {
  padding: 2px 15px 2px 15px;
  border-radius: 5px;
  border: 1px solid black;
}

.cart-item-price-total {
  margin-left: auto;
  font-weight: bold;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin-left: auto;
}

.cart-summary {
  width: 300px;
  margin-top: 10px;
}

.cart-total-price {
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .cart-container {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .cart-item-details {
    min-width: 80px;
    max-width: 80px;
  }
  .cart-icon-wrapper {
    display: none;
  }
  .cart-items {
    margin-left: 0;
  }
}
